.DS_Store

# 学生個人情報を含むファイル
analysis/
履修者一覧_*.xlsx
情報論2026-*課題提出/
情報論2025-*提出/
課題2026-*提出/
課題[0-9]*提出*/
課題*提出*/
課題0-1評価.xlsx
課題３提出*/
ガクチカの作成/
文献調査/
英語論文作成/
スライドの作成/
GitHubを使ったホームページ作成/
翻訳したい日本語論文を提出してください/
課題*評価.xlsx
slides/補_課題0-1分析共有*

# ローカル設定
.claude/
